/* Custom styles for the top name */
#top {
    padding: 10px;
}

/* Custom styles for the main content */
h1 {
    margin-top: 70px; /* Adjust as needed to accommodate the fixed top bar */
    text-align: center;
}

/* Custom styles for the bottom navigation */
#Nav {
    background-color: #fff; /* Change as needed */
    border-top: 2px solid #000; /* Change as needed */
    padding: 5px;
}

#Nav .col-2, #Nav .col-4 {
    padding: 5px;
}

#Nav #hov {
    cursor: pointer;
}

#Nav img {
    width: 30px; /* Adjust as needed */
    height: 30px; /* Adjust as needed */
}

#Nav .col-2.my-auto {
    background-color: #ffff00; /* Change as needed */
}
